{% extends "base.html" %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/styles.css" %}">
{% endblock app_css %}

{% block header %}

<h1 class="text-left" style="margin-top:100px">{{heading}}</h1>


{% endblock header %}

{% block content-1 %}
<div class="row bg-white" style="height:1200px">

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold ">Altmertrik Support</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Id</th>
							<th>dc.title</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> <a class="tg-kcps" href="/about">5795</td>
							<td class="tg-kcps">Fuelwood&nbsp;&nbsp;&nbsp;savings and carbon emission reductions by the
								use
								of improved cooking stoves&nbsp;&nbsp;&nbsp;in an Afromontane Forest, Ethiopia</td>
						</tr>

						<tr>
							<td class="tg-kcps">4905</td>
							<td class="tg-kcps">An assessment of deforestation&nbsp;&nbsp;&nbsp;and forest degradation
								drivers in developing countries</td>
						</tr>
						<tr>
							<td class="tg-kcps">4938</td>
							<td class="tg-kcps">A review of social&nbsp;&nbsp;&nbsp;sustainability considerations among
								EU-approved voluntary schemes for&nbsp;&nbsp;&nbsp;biofuels, with implications for rural
								livelihoods</td>
						</tr>
						<tr>
							<td class="tg-kcps">5823</td>
							<td class="tg-kcps">Classifying market-based&nbsp;&nbsp;&nbsp;instruments for ecosystem
								services</td>
						</tr>
						<tr>
							<td class="tg-kcps">4937</td>
							<td class="tg-kcps">Diversity of locally useful&nbsp;&nbsp;&nbsp;tropical forest wild-plants
								as a function of species richness and informant&nbsp;&nbsp;&nbsp;culture</td>
						</tr>
						<tr>
							<td class="tg-kcps">4939</td>
							<td class="tg-kcps">Understanding the impacts of&nbsp;&nbsp;&nbsp;land-use policies on a
								threatened species</td>
						</tr>
						<tr>
							<td class="tg-kcps">4933</td>
							<td class="tg-kcps">A camera trap assessment of&nbsp;&nbsp;&nbsp;terrestrial vertebrates in
								Bwindi Impenetrable National Park, Uganda</td>
						</tr>
						<tr>
							<td class="tg-kcps">9240</td>
							<td class="tg-kcps">Análisis de la gobernanza&nbsp;&nbsp;&nbsp;multinivel en Perú</td>
						</tr>
						<tr>
							<td class="tg-kcps">5780</td>
							<td class="tg-kcps">Bushmeat harvest in tropical&nbsp;&nbsp;&nbsp;forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">4926</td>
							<td class="tg-kcps">The political context of REDD+&nbsp;&nbsp;&nbsp;in Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5805</td>
							<td class="tg-kcps">Actor-specific contributions&nbsp;&nbsp;&nbsp;to the deforestation
								slowdown in the Brazilian Amazon</td>
						</tr>
						<tr>
							<td class="tg-kcps">5809</td>
							<td class="tg-kcps">REDD+ policy networks in&nbsp;&nbsp;&nbsp;Brazil</td>
						</tr>
						<tr>
							<td class="tg-kcps">4953</td>
							<td class="tg-kcps">Of PES and other animals</td>
						</tr>
						<tr>
							<td class="tg-kcps">5794</td>
							<td class="tg-kcps">European Union Timber&nbsp;&nbsp;&nbsp;Regulation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5783</td>
							<td class="tg-kcps">Preparing the ground for&nbsp;&nbsp;&nbsp;better landscape governance
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">5818</td>
							<td class="tg-kcps">Regional nitrogen budget of&nbsp;&nbsp;&nbsp;the Lake Victoria Basin,
								East Africa</td>
						</tr>
						<tr>
							<td class="tg-kcps">4932</td>
							<td class="tg-kcps">Estimates of soil carbon&nbsp;&nbsp;&nbsp;concentration in tropical and
								temperate forest and woodland from available&nbsp;&nbsp;&nbsp;GIS data on three
								continents</td>
						</tr>
						<tr>
							<td class="tg-kcps">4978</td>
							<td class="tg-kcps">Analyse phytogéographique des&nbsp;&nbsp;&nbsp;forêts d'Afrique Centrale
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">5810</td>
							<td class="tg-kcps">Crop residue disappearance and&nbsp;&nbsp;&nbsp;macrofauna activity in
								sub-humid western Kenya</td>
						</tr>
						<tr>
							<td class="tg-kcps">4936</td>
							<td class="tg-kcps">Logging scars in Ghanaian high&nbsp;&nbsp;&nbsp;forest</td>
						</tr>
						<tr>
							<td class="tg-kcps">4960</td>
							<td class="tg-kcps">The scope for reducing&nbsp;&nbsp;&nbsp;emissions from forestry and
								agriculture in the Brazilian Amazon</td>
						</tr>
						<tr>
							<td class="tg-kcps">4927</td>
							<td class="tg-kcps">A review of two payment&nbsp;&nbsp;&nbsp;schemes for watershed services
								from China and Vietnam</td>
						</tr>
						<tr>
							<td class="tg-kcps">4935</td>
							<td class="tg-kcps">The dilemma of green business&nbsp;&nbsp;&nbsp;in tropical forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">4934</td>
							<td class="tg-kcps">Bamboo for people, Mountain&nbsp;&nbsp;&nbsp;gorillas, and golden
								monkeys</td>
						</tr>
						<tr>
							<td class="tg-kcps">4941</td>
							<td class="tg-kcps">Community-based forest&nbsp;&nbsp;&nbsp;management</td>
						</tr>
						<tr>
							<td class="tg-kcps">4963</td>
							<td class="tg-kcps">Reprint of: multiple use&nbsp;&nbsp;&nbsp;management of tropical
								production forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">5808</td>
							<td class="tg-kcps">Identifying Habitat&nbsp;&nbsp;&nbsp;Connectivity for Isolated
								Populations of Lion-Tailed Macaque (Macaca silenus)&nbsp;&nbsp;&nbsp;in Valparai
								Plateau, Western Ghats, India</td>
						</tr>
						<tr>
							<td class="tg-kcps">4940</td>
							<td class="tg-kcps">Synergies of multiple remote&nbsp;&nbsp;&nbsp;sensing data sources for
								REDD+ monitoring</td>
						</tr>
						<tr>
							<td class="tg-kcps">5852</td>
							<td class="tg-kcps">Synthesis and Review</td>
						</tr>
						<tr>
							<td class="tg-kcps">5840</td>
							<td class="tg-kcps">Monitoring, reporting and&nbsp;&nbsp;&nbsp;verification for national
								REDD + programmes</td>
						</tr>
						<tr>
							<td class="tg-kcps">4950</td>
							<td class="tg-kcps">A cost-efficient method to&nbsp;&nbsp;&nbsp;assess carbon stocks in
								tropical peat soil</td>
						</tr>
						<tr>
							<td class="tg-kcps">5807</td>
							<td class="tg-kcps">Integrating sustainable&nbsp;&nbsp;&nbsp;hunting in biodiversity
								protection in Central Africa</td>
						</tr>
						<tr>
							<td class="tg-kcps">5811</td>
							<td class="tg-kcps">What are the environmental&nbsp;&nbsp;&nbsp;impacts of property rights
								regimes in forests, fisheries and rangelands?</td>
						</tr>
						<tr>
							<td class="tg-kcps">4947</td>
							<td class="tg-kcps">Making a living with forest&nbsp;&nbsp;&nbsp;insects</td>
						</tr>
						<tr>
							<td class="tg-kcps">9258</td>
							<td class="tg-kcps">O contexto de REDD+ no Brasil</td>
						</tr>
						<tr>
							<td class="tg-kcps">4956</td>
							<td class="tg-kcps">Variability of soil organic&nbsp;&nbsp;&nbsp;carbon stocks under
								different land uses</td>
						</tr>
						<tr>
							<td class="tg-kcps">4987</td>
							<td class="tg-kcps">Designing, implementing and&nbsp;&nbsp;&nbsp;monitoring social impact
								mitigation strategies</td>
						</tr>
						<tr>
							<td class="tg-kcps">5849</td>
							<td class="tg-kcps">Mobile Devices for&nbsp;&nbsp;&nbsp;Community-Based REDD+ Monitoring
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">9344</td>
							<td class="tg-kcps">¿Es la agricultura de pequeña&nbsp;&nbsp;&nbsp;escala realmente el
								impulsor principal de la deforestación en la Amazonía&nbsp;&nbsp;&nbsp;peruana?: Más
								allá de la narrativa predominante.</td>
						</tr>
						<tr>
							<td class="tg-kcps">5260</td>
							<td class="tg-kcps">A case study for an estimation&nbsp;&nbsp;&nbsp;of carbon fixation
								capacity in the mangrove plantation of Rhizophora&nbsp;&nbsp;&nbsp;apiculata trees in
								Trat, Thailand</td>
						</tr>
						<tr>
							<td class="tg-kcps">4955</td>
							<td class="tg-kcps">Testing a multi-scale scenario&nbsp;&nbsp;&nbsp;approach for smallholder
								tree plantations in Indonesia and Vietnam</td>
						</tr>
						<tr>
							<td class="tg-kcps">5851</td>
							<td class="tg-kcps">Options for a national&nbsp;&nbsp;&nbsp;framework for benefit
								distribution and their relation to community-based and&nbsp;&nbsp;&nbsp;national REDD+
								monitoring</td>
						</tr>
						<tr>
							<td class="tg-kcps">5020</td>
							<td class="tg-kcps">Framing local outcomes of&nbsp;&nbsp;&nbsp;biodiversity conservation
								through ecosystem services</td>
						</tr>
						<tr>
							<td class="tg-kcps">5831</td>
							<td class="tg-kcps">REDD+ policy networks</td>
						</tr>
						<tr>
							<td class="tg-kcps">4958</td>
							<td class="tg-kcps">Women's participation in&nbsp;&nbsp;&nbsp;forest management</td>
						</tr>
						<tr>
							<td class="tg-kcps">5828</td>
							<td class="tg-kcps">Women at the edge of forest&nbsp;&nbsp;&nbsp;management in Northern
								Cameroon</td>
						</tr>
						<tr>
							<td class="tg-kcps">5848</td>
							<td class="tg-kcps">Advancing agricultural&nbsp;&nbsp;&nbsp;greenhouse gas quantification
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">4961</td>
							<td class="tg-kcps">REDD reckoning</td>
						</tr>
						<tr>
							<td class="tg-kcps">5843</td>
							<td class="tg-kcps">Will REDD+ work ?</td>
						</tr>
						<tr>
							<td class="tg-kcps">5834</td>
							<td class="tg-kcps">Payment for ecosystem services</td>
						</tr>
						<tr>
							<td class="tg-kcps">5832</td>
							<td class="tg-kcps">Changes in carbon stocks and&nbsp;&nbsp;&nbsp;greenhouse gas balance in
								a coffee (Coffea arabica) monoculture versus an&nbsp;&nbsp;&nbsp;agroforestry system
								with Inga densiflora, in Costa Rica</td>
						</tr>
						<tr>
							<td class="tg-kcps">5847</td>
							<td class="tg-kcps">Challenges in operationalizing&nbsp;&nbsp;&nbsp;remote sensing in
								climate change mitigation projects in developing countries</td>
						</tr>
						<tr>
							<td class="tg-kcps">5839</td>
							<td class="tg-kcps">Options for monitoring and&nbsp;&nbsp;&nbsp;estimating historical carbon
								emissions from forest degradation in the context&nbsp;&nbsp;&nbsp;of REDD+</td>
						</tr>
						<tr>
							<td class="tg-kcps">5021</td>
							<td class="tg-kcps">Impacts of international&nbsp;&nbsp;&nbsp;timber procurement policies on
								Central Africa's forestry sector</td>
						</tr>
						<tr>
							<td class="tg-kcps">4985</td>
							<td class="tg-kcps">Heterogeneous users and&nbsp;&nbsp;&nbsp;willingness to pay in an
								ongoing payment for watershed protection initiative&nbsp;&nbsp;&nbsp;in the Colombian
								Andes</td>
						</tr>
						<tr>
							<td class="tg-kcps">5249</td>
							<td class="tg-kcps">Analyse des connaissances&nbsp;&nbsp;&nbsp;actuelles sur les impacts de
								la certification forestière</td>
						</tr>
						<tr>
							<td class="tg-kcps">4994</td>
							<td class="tg-kcps">Forest, poverty and&nbsp;&nbsp;&nbsp;conservation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5850</td>
							<td class="tg-kcps">Fusion of pan-tropical biomass&nbsp;&nbsp;&nbsp;maps using weighted
								averaging and regional calibration data</td>
						</tr>
						<tr>
							<td class="tg-kcps">5179</td>
							<td class="tg-kcps">The context of REDD+ in the&nbsp;&nbsp;&nbsp;Lao People's Democratic
								Republic</td>
						</tr>
						<tr>
							<td class="tg-kcps">5258</td>
							<td class="tg-kcps">Is certification associated&nbsp;&nbsp;&nbsp;with better forest
								management and socioeconomic benefits?</td>
						</tr>
						<tr>
							<td class="tg-kcps">4998</td>
							<td class="tg-kcps">Vulnerability to coastal&nbsp;&nbsp;&nbsp;flooding and response
								strategies</td>
						</tr>
						<tr>
							<td class="tg-kcps">5002</td>
							<td class="tg-kcps">The context of REDD+ in Nepal</td>
						</tr>
						<tr>
							<td class="tg-kcps">5095</td>
							<td class="tg-kcps">Plant-mediated and nonadditive&nbsp;&nbsp;&nbsp;effects of two global
								change drivers on an insect herbivore community</td>
						</tr>
						<tr>
							<td class="tg-kcps">4992</td>
							<td class="tg-kcps">Pulp industry and environment&nbsp;&nbsp;&nbsp;in Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5879</td>
							<td class="tg-kcps">The uncovered volumes of&nbsp;&nbsp;&nbsp;bushmeat commercialized in the
								Amazonian trifrontier between Colombia, Peru &amp; Brazil</td>
						</tr>
						<tr>
							<td class="tg-kcps">5061</td>
							<td class="tg-kcps">Linking great ape conservation&nbsp;&nbsp;&nbsp;and poverty alleviation
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">5867</td>
							<td class="tg-kcps">¿Pueden las salvaguardas&nbsp;&nbsp;&nbsp;garantizar la equidad de
								género?</td>
						</tr>
						<tr>
							<td class="tg-kcps">5015</td>
							<td class="tg-kcps">Stream discharge in tropical&nbsp;&nbsp;&nbsp;headwater catchments as a
								result of forest clearing and soil degradation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5046</td>
							<td class="tg-kcps">How are REDD+ proponents&nbsp;&nbsp;&nbsp;addressing tenure problems?
								Evidence from Brazil, Cameroon, Tanzania,&nbsp;&nbsp;&nbsp;Indonesia, and Vietnam</td>
						</tr>
						<tr>
							<td class="tg-kcps">5093</td>
							<td class="tg-kcps">Depopulation of rural&nbsp;&nbsp;&nbsp;landscapes exacerbates fire
								activity in the western Amazon</td>
						</tr>
						<tr>
							<td class="tg-kcps">5014</td>
							<td class="tg-kcps">Stream water nutrient and&nbsp;&nbsp;&nbsp;organic carbon exports from
								tropical headwater catchments at a soil&nbsp;&nbsp;&nbsp;degradation gradient</td>
						</tr>
						<tr>
							<td class="tg-kcps">5877</td>
							<td class="tg-kcps">REDD+ on the ground</td>
						</tr>
						<tr>
							<td class="tg-kcps">5016</td>
							<td class="tg-kcps">What is the relevance of&nbsp;&nbsp;&nbsp;smallholders’ agroforestry
								systems for conserving tropical tree species and&nbsp;&nbsp;&nbsp;genetic diversity in
								circa situm, in situ and ex situ settings?</td>
						</tr>
						<tr>
							<td class="tg-kcps">5017</td>
							<td class="tg-kcps">Complex contexts and dynamic&nbsp;&nbsp;&nbsp;drivers</td>
						</tr>
						<tr>
							<td class="tg-kcps">5012</td>
							<td class="tg-kcps">From farmers to loggers</td>
						</tr>
						<tr>
							<td class="tg-kcps">5027</td>
							<td class="tg-kcps">Perempuan, Laki-Laki dan&nbsp;&nbsp;&nbsp;Penelitian Hutan</td>
						</tr>
						<tr>
							<td class="tg-kcps">5018</td>
							<td class="tg-kcps">Importance, determinants and&nbsp;&nbsp;&nbsp;gender dimensions of
								forest income in eastern highlands of Ethiopia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5019</td>
							<td class="tg-kcps">Global Reporting Initiative&nbsp;&nbsp;&nbsp;and social impact in
								managing corporate responsibility</td>
						</tr>
						<tr>
							<td class="tg-kcps">5100</td>
							<td class="tg-kcps">Reframing community forestry&nbsp;&nbsp;&nbsp;to manage the forest-farm
								interface</td>
						</tr>
						<tr>
							<td class="tg-kcps">4857</td>
							<td class="tg-kcps">Boi canh REDD+ Viet Nam</td>
						</tr>
						<tr>
							<td class="tg-kcps">5022</td>
							<td class="tg-kcps">Carbon Stocks of Tropical&nbsp;&nbsp;&nbsp;Coastal Wetlands within the
								Karstic Landscape of the Mexican Caribbean</td>
						</tr>
						<tr>
							<td class="tg-kcps">5275</td>
							<td class="tg-kcps">Chi tra dich vu &nbsp;&nbsp;&nbsp;môi truong rung tai Viet Nam</td>
						</tr>
						<tr>
							<td class="tg-kcps">5029</td>
							<td class="tg-kcps">Helping curb tropical forest&nbsp;&nbsp;&nbsp;degradation by linking
								REDD+ with other conservation interventions</td>
						</tr>
						<tr>
							<td class="tg-kcps">5068</td>
							<td class="tg-kcps">Does Tenure Security Lead to&nbsp;&nbsp;&nbsp;REDD+ Project
								Effectiveness?</td>
						</tr>
						<tr>
							<td class="tg-kcps">5058</td>
							<td class="tg-kcps">Le contexte de la REDD+ en&nbsp;&nbsp;&nbsp;République Démocratique du
								Congo</td>
						</tr>
						<tr>
							<td class="tg-kcps">5133</td>
							<td class="tg-kcps">Institutional perceptions,&nbsp;&nbsp;&nbsp;adaptive capacity and
								climate change response in a post-conflict country</td>
						</tr>
						<tr>
							<td class="tg-kcps">5082</td>
							<td class="tg-kcps">Key issues in REDD+&nbsp;&nbsp;&nbsp;verification</td>
						</tr>
						<tr>
							<td class="tg-kcps">5069</td>
							<td class="tg-kcps">From large to small</td>
						</tr>
						<tr>
							<td class="tg-kcps">5070</td>
							<td class="tg-kcps">Engaging local communities in&nbsp;&nbsp;&nbsp;low emissions land-use
								planning</td>
						</tr>
						<tr>
							<td class="tg-kcps">5098</td>
							<td class="tg-kcps">Public policies and management&nbsp;&nbsp;&nbsp;of rural forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">5178</td>
							<td class="tg-kcps">Contexto de REDD+ en Perú</td>
						</tr>
						<tr>
							<td class="tg-kcps">5189</td>
							<td class="tg-kcps">Increasing tree cover in&nbsp;&nbsp;&nbsp;degrading landscapes</td>
						</tr>
						<tr>
							<td class="tg-kcps">5099</td>
							<td class="tg-kcps">Land tenure and REDD+</td>
						</tr>
						<tr>
							<td class="tg-kcps">9333</td>
							<td class="tg-kcps">Phân bổ tiền chi trả từ Chi&nbsp;&nbsp;&nbsp;trả dịch vụ môi trường rừng
								(PFES) ở Việt Nam</td>
						</tr>
						<tr>
							<td class="tg-kcps">5072</td>
							<td class="tg-kcps">Dynamics of the charcoal and&nbsp;&nbsp;&nbsp;indigenous timber trade in
								Zambia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5089</td>
							<td class="tg-kcps">Economic instruments for&nbsp;&nbsp;&nbsp;nature conservation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5045</td>
							<td class="tg-kcps">Linking forest tenure reform,&nbsp;&nbsp;&nbsp;environmental compliance,
								and incentives</td>
						</tr>
						<tr>
							<td class="tg-kcps">5086</td>
							<td class="tg-kcps">Environmental impacts of&nbsp;&nbsp;&nbsp;large-scale oil palm
								enterprises exceed that of smallholdings in Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5092</td>
							<td class="tg-kcps">The link between smallholder&nbsp;&nbsp;&nbsp;bamboo shoot management,
								income, and livelihoods</td>
						</tr>
						<tr>
							<td class="tg-kcps">5137</td>
							<td class="tg-kcps">The Dynamic forest commons of&nbsp;&nbsp;&nbsp;Central America</td>
						</tr>
						<tr>
							<td class="tg-kcps">5094</td>
							<td class="tg-kcps">Carbon outcomes of major&nbsp;&nbsp;&nbsp;land-cover transitions in SE
								Asia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5101</td>
							<td class="tg-kcps">Financial performance of&nbsp;&nbsp;&nbsp;contract tree farming for
								smallholders</td>
						</tr>
						<tr>
							<td class="tg-kcps">5186</td>
							<td class="tg-kcps">Why does air passage over&nbsp;&nbsp;&nbsp;forest yield more rain?</td>
						</tr>
						<tr>
							<td class="tg-kcps">5087</td>
							<td class="tg-kcps">When payments for&nbsp;&nbsp;&nbsp;environmental services will work for
								conservation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5106</td>
							<td class="tg-kcps">The Context of REDD+ in Papua New Guinea</td>
						</tr>
						<tr>
							<td class="tg-kcps">5088</td>
							<td class="tg-kcps">A more realistic portrayal of&nbsp;&nbsp;&nbsp;tropical forestry</td>
						</tr>
						<tr>
							<td class="tg-kcps">5090</td>
							<td class="tg-kcps">Ten principles for a landscape&nbsp;&nbsp;&nbsp;approach to reconciling
								agriculture, conservation, and other competing land&nbsp;&nbsp;&nbsp;uses</td>
						</tr>
						<tr>
							<td class="tg-kcps">5096</td>
							<td class="tg-kcps">Climate change&nbsp;&nbsp;&nbsp;disproportionately increases herbivore
								over plant or parasitoid biomass</td>
						</tr>
						<tr>
							<td class="tg-kcps">5104</td>
							<td class="tg-kcps">Profiling climate change&nbsp;&nbsp;&nbsp;vulnerability of forest
								indigenous communities in the Congo Basin</td>
						</tr>
						<tr>
							<td class="tg-kcps">5105</td>
							<td class="tg-kcps">Rural income and forest&nbsp;&nbsp;&nbsp;reliance in Highland Guatemala
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">5139</td>
							<td class="tg-kcps">Equity and REDD+ in the media</td>
						</tr>
						<tr>
							<td class="tg-kcps">5158</td>
							<td class="tg-kcps">On taxing wildlife films and&nbsp;&nbsp;&nbsp;exposure to nature</td>
						</tr>
						<tr>
							<td class="tg-kcps">5196</td>
							<td class="tg-kcps">Carbon emissions performance&nbsp;&nbsp;&nbsp;of commercial logging in
								East Kalimantan, Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5135</td>
							<td class="tg-kcps">Action research to improve&nbsp;&nbsp;&nbsp;furniture value chain
								governance and enhance livelihoods of small-scale&nbsp;&nbsp;&nbsp;producers</td>
						</tr>
						<tr>
							<td class="tg-kcps">5156</td>
							<td class="tg-kcps">Exploring the social&nbsp;&nbsp;&nbsp;dimensions and complexity of
								cumulative impacts</td>
						</tr>
						<tr>
							<td class="tg-kcps">5157</td>
							<td class="tg-kcps">Climate change and plant&nbsp;&nbsp;&nbsp;dispersal along corridors in
								fragmented landscapes of Mesoamerica</td>
						</tr>
						<tr>
							<td class="tg-kcps">5192</td>
							<td class="tg-kcps">Assessing the extent of&nbsp;&nbsp;&nbsp;"conflict of use" in
								multipurpose tropical forest trees</td>
						</tr>
						<tr>
							<td class="tg-kcps">5229</td>
							<td class="tg-kcps">Combining permanent beds and&nbsp;&nbsp;&nbsp;residue retention with
								nitrogen fertilization improves crop yields and water&nbsp;&nbsp;&nbsp;productivity in
								irrigated arid lands under cotton, wheat and maize</td>
						</tr>
						<tr>
							<td class="tg-kcps">5134</td>
							<td class="tg-kcps">Gender and natural resource&nbsp;&nbsp;&nbsp;governance indicators</td>
						</tr>
						<tr>
							<td class="tg-kcps">5110</td>
							<td class="tg-kcps">Large trees drive forest&nbsp;&nbsp;&nbsp;aboveground biomass variation
								in moist lowland forests across the tropics</td>
						</tr>
						<tr>
							<td class="tg-kcps">5243</td>
							<td class="tg-kcps">Local perceptions of climate&nbsp;&nbsp;&nbsp;variability and change in
								tropical forests of Papua, Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5141</td>
							<td class="tg-kcps">An overview of current&nbsp;&nbsp;&nbsp;knowledge about the impacts of
								forest management certification</td>
						</tr>
						<tr>
							<td class="tg-kcps">5187</td>
							<td class="tg-kcps">Conservation in a wicked&nbsp;&nbsp;&nbsp;complex world</td>
						</tr>
						<tr>
							<td class="tg-kcps">5208</td>
							<td class="tg-kcps">Peruvian smallholder&nbsp;&nbsp;&nbsp;production and marketing of
								bolaina (Guazuma crinita), a fast-growing&nbsp;&nbsp;&nbsp;Amazonian timber species</td>
						</tr>
						<tr>
							<td class="tg-kcps">5160</td>
							<td class="tg-kcps">Artisanal chainsaw milling to&nbsp;&nbsp;&nbsp;support decentralized
								management of timber in Central Africa? An analysis&nbsp;&nbsp;&nbsp;through the theory
								of access</td>
						</tr>
						<tr>
							<td class="tg-kcps">9513</td>
							<td class="tg-kcps">Environmental reliance,&nbsp;&nbsp;&nbsp;climate exposure, and
								vulnerability</td>
						</tr>
						<tr>
							<td class="tg-kcps">5173</td>
							<td class="tg-kcps">Human impacts on forest&nbsp;&nbsp;&nbsp;structure and species richness
								on the edges of a protected mountain forest in&nbsp;&nbsp;&nbsp;Uganda</td>
						</tr>
						<tr>
							<td class="tg-kcps">5182</td>
							<td class="tg-kcps">State and evolution of the&nbsp;&nbsp;&nbsp;African rainforests between
								1990 and 2010</td>
						</tr>
						<tr>
							<td class="tg-kcps">9512</td>
							<td class="tg-kcps">Fragmentation increases wind&nbsp;&nbsp;&nbsp;disturbance impacts on
								forest structure and carbon stocks in a western&nbsp;&nbsp;&nbsp;Amazonian landscape
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">5199</td>
							<td class="tg-kcps">Greenhouse gas emission&nbsp;&nbsp;&nbsp;factors for land use and
								land-use change in Southeast Asian peatlands</td>
						</tr>
						<tr>
							<td class="tg-kcps">5185</td>
							<td class="tg-kcps">Oil-Palm Plantations in the&nbsp;&nbsp;&nbsp;Context of Biodiversity
								Conservation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5172</td>
							<td class="tg-kcps">Governing the design of&nbsp;&nbsp;&nbsp;national REDD+</td>
						</tr>
						<tr>
							<td class="tg-kcps">5219</td>
							<td class="tg-kcps">The key physical parameters&nbsp;&nbsp;&nbsp;governing frictional
								dissipation in a precipitating atmosphere</td>
						</tr>
						<tr>
							<td class="tg-kcps">5195</td>
							<td class="tg-kcps">Gas pooling</td>
						</tr>
						<tr>
							<td class="tg-kcps">5207</td>
							<td class="tg-kcps">Climate change mitigation&nbsp;&nbsp;&nbsp;strategies should include
								tropical wetlands</td>
						</tr>
						<tr>
							<td class="tg-kcps">5227</td>
							<td class="tg-kcps">REDD+ readiness</td>
						</tr>
						<tr>
							<td class="tg-kcps">5198</td>
							<td class="tg-kcps">Payments for forest&nbsp;&nbsp;&nbsp;environmental services in Vietnam
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">5181</td>
							<td class="tg-kcps">Does production of oil palm,&nbsp;&nbsp;&nbsp;soybean, or jatropha
								change biodiversity and ecosystem functions in tropical&nbsp;&nbsp;&nbsp;forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">5201</td>
							<td class="tg-kcps">Botanical identification of&nbsp;&nbsp;&nbsp;medicinal roots collected
								and traded in Morocco and comparison to the&nbsp;&nbsp;&nbsp;existing literature</td>
						</tr>
						<tr>
							<td class="tg-kcps">5204</td>
							<td class="tg-kcps">Cultivated plants in the&nbsp;&nbsp;&nbsp;diversified homegardens of
								local communities in Ganges Valley, Bangladesh</td>
						</tr>
						<tr>
							<td class="tg-kcps">5220</td>
							<td class="tg-kcps">Comparison of methods for&nbsp;&nbsp;&nbsp;quantifying soil carbon in
								tropical peats</td>
						</tr>
						<tr>
							<td class="tg-kcps">10182</td>
							<td class="tg-kcps">Strengthening social inclusion&nbsp;&nbsp;&nbsp;within oil palm contract
								farming in the Brazilian Amazon</td>
						</tr>
						<tr>
							<td class="tg-kcps">5221</td>
							<td class="tg-kcps">Wildlife film fees</td>
						</tr>
						<tr>
							<td class="tg-kcps">5238</td>
							<td class="tg-kcps">Enabling factors for&nbsp;&nbsp;&nbsp;establishing REDD+ in a context of
								weak governance</td>
						</tr>
						<tr>
							<td class="tg-kcps">5230</td>
							<td class="tg-kcps">Options and constraints for&nbsp;&nbsp;&nbsp;crop diversification</td>
						</tr>
						<tr>
							<td class="tg-kcps">5235</td>
							<td class="tg-kcps">Changes in soil CH4 fluxes&nbsp;&nbsp;&nbsp;from the conversion of
								tropical peat swamp forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">5239</td>
							<td class="tg-kcps">Tillage and nitrogen&nbsp;&nbsp;&nbsp;fertilization effects on yield and
								nitrogen use efficiency of irrigated&nbsp;&nbsp;&nbsp;cotton</td>
						</tr>
						<tr>
							<td class="tg-kcps">5241</td>
							<td class="tg-kcps">Large-scale land acquisitions</td>
						</tr>
						<tr>
							<td class="tg-kcps">5237</td>
							<td class="tg-kcps">Aprovechamiento forestal y&nbsp;&nbsp;&nbsp;mercados de la madera en la
								Amazonía Ecuatoriana</td>
						</tr>
						<tr>
							<td class="tg-kcps">9345</td>
							<td class="tg-kcps">Host country governance and&nbsp;&nbsp;&nbsp;the African land rush</td>
						</tr>
						<tr>
							<td class="tg-kcps">11309</td>
							<td class="tg-kcps">Relationships between&nbsp;&nbsp;&nbsp;population density, fine-scale
								genetic structure, mating system and pollen&nbsp;&nbsp;&nbsp;dispersal in a timber tree
								from African rainforests</td>
						</tr>
						<tr>
							<td class="tg-kcps">10160</td>
							<td class="tg-kcps">Oportunidades y desafíos para&nbsp;&nbsp;&nbsp;la gobernanza de la
								restauración del paisaje forestal en América Latina</td>
						</tr>
						<tr>
							<td class="tg-kcps">9678</td>
							<td class="tg-kcps">Gender and generation in&nbsp;&nbsp;&nbsp;engagements with oil palm in
								East Kalimantan, Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">9499</td>
							<td class="tg-kcps">From Product to&nbsp;&nbsp;&nbsp;Place—Spatializing governance in a
								commodified landscape</td>
						</tr>
						<tr>
							<td class="tg-kcps">6804</td>
							<td class="tg-kcps">Importance of Antelope&nbsp;&nbsp;&nbsp;Bushmeat Consumption in African
								Wet and Moist Tropical Forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">6254</td>
							<td class="tg-kcps">Frontiers of Commodification</td>
						</tr>
						<tr>
							<td class="tg-kcps">9458</td>
							<td class="tg-kcps">The public and private regime&nbsp;&nbsp;&nbsp;complex for governing
								palm oil supply</td>
						</tr>
						<tr>
							<td class="tg-kcps">9994</td>
							<td class="tg-kcps">Greenhouse gas emissions in&nbsp;&nbsp;&nbsp;restored secondary tropical
								peat swamp forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">5554</td>
							<td class="tg-kcps">A model of the&nbsp;&nbsp;&nbsp;science-practice-policy interface in
								participatory land-use planning</td>
						</tr>
						<tr>
							<td class="tg-kcps">6224</td>
							<td class="tg-kcps">Formalization and Collective&nbsp;&nbsp;&nbsp;Appropriation of Space on
								Forest Frontiers</td>
						</tr>
						<tr>
							<td class="tg-kcps">9954</td>
							<td class="tg-kcps">From denuded to green&nbsp;&nbsp;&nbsp;mountains</td>
						</tr>
						<tr>
							<td class="tg-kcps">6704</td>
							<td class="tg-kcps">Forests, Trees, and&nbsp;&nbsp;&nbsp;Micronutrient-Rich Food Consumption
								in Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">9737</td>
							<td class="tg-kcps">Recent loss of closed forests&nbsp;&nbsp;&nbsp;is associated with Ebola
								virus disease outbreaks</td>
						</tr>
						<tr>
							<td class="tg-kcps">9494</td>
							<td class="tg-kcps">Indirect contributions of&nbsp;&nbsp;&nbsp;forests to dietary diversity
								in Southern Ethiopia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5153</td>
							<td class="tg-kcps">Above-ground biomass and&nbsp;&nbsp;&nbsp;structure of 260 African
								tropical forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">9264</td>
							<td class="tg-kcps">Forest foods and healthy diets</td>
						</tr>
						<tr>
							<td class="tg-kcps">9916</td>
							<td class="tg-kcps">An Assessment Framework for&nbsp;&nbsp;&nbsp;Benefit Sharing Mechanisms
								to Reduce Emissions from Deforestation and Forest&nbsp;&nbsp;&nbsp;Degradation within a
								Forest Policy Mix</td>
						</tr>
						<tr>
							<td class="tg-kcps">5400</td>
							<td class="tg-kcps">A framework for assessing&nbsp;&nbsp;&nbsp;supply-side wildlife
								conservation</td>
						</tr>
						<tr>
							<td class="tg-kcps">9525</td>
							<td class="tg-kcps">Planes actuales de&nbsp;&nbsp;&nbsp;restauración ecológica en
								Latinoamérica</td>
						</tr>
						<tr>
							<td class="tg-kcps">9693</td>
							<td class="tg-kcps">Platforms for institutional&nbsp;&nbsp;&nbsp;change</td>
						</tr>
						<tr>
							<td class="tg-kcps">9956</td>
							<td class="tg-kcps">A segregated assessment of&nbsp;&nbsp;&nbsp;total carbon stocks by the
								mode of origin and ecological functions of forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">9282</td>
							<td class="tg-kcps">Institutional innovation and&nbsp;&nbsp;&nbsp;forest landscape
								restoration in China</td>
						</tr>
						<tr>
							<td class="tg-kcps">10295</td>
							<td class="tg-kcps">Participatory monitoring to&nbsp;&nbsp;&nbsp;connect local and global
								priorities for forest restoration</td>
						</tr>
						<tr>
							<td class="tg-kcps">9464</td>
							<td class="tg-kcps">A methodological approach for&nbsp;&nbsp;&nbsp;assessing cross-site
								landscape change</td>
						</tr>
						<tr>
							<td class="tg-kcps">9376</td>
							<td class="tg-kcps">Trees for life</td>
						</tr>
						<tr>
							<td class="tg-kcps">9644</td>
							<td class="tg-kcps">Forest governance and REDD+ in&nbsp;&nbsp;&nbsp;Central Africa</td>
						</tr>
						<tr>
							<td class="tg-kcps">9713</td>
							<td class="tg-kcps">Success from the ground up</td>
						</tr>
						<tr>
							<td class="tg-kcps">9261</td>
							<td class="tg-kcps">A proposed framework for&nbsp;&nbsp;&nbsp;assessing ecosystem goods and
								services from planted forests</td>
						</tr>
						<tr>
							<td class="tg-kcps">9950</td>
							<td class="tg-kcps">China's Conversion of Cropland&nbsp;&nbsp;&nbsp;to Forest Program as a
								national PES scheme: Institutional structure,&nbsp;&nbsp;&nbsp;voluntarism and
								conditionality of PES</td>
						</tr>
						<tr>
							<td class="tg-kcps">9492</td>
							<td class="tg-kcps">Analysis of observed and&nbsp;&nbsp;&nbsp;perceived climate change and
								variability in Arsi Negele District, Ethiopia</td>
						</tr>
						<tr>
							<td class="tg-kcps">9733</td>
							<td class="tg-kcps">Change in land use and&nbsp;&nbsp;&nbsp;ecosystem services delivery from
								community-based forest landscape restoration&nbsp;&nbsp;&nbsp;in the Phewa Lake
								watershed, Nepal</td>
						</tr>
						<tr>
							<td class="tg-kcps">10333</td>
							<td class="tg-kcps">Evidence-based options for&nbsp;&nbsp;&nbsp;advancing social equity in
								Indonesian palm oil</td>
						</tr>
						<tr>
							<td class="tg-kcps">10309</td>
							<td class="tg-kcps">La restauración de ecosistemas&nbsp;&nbsp;&nbsp;terrestres en México
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">9380</td>
							<td class="tg-kcps">Lessons for multi-level REDD+&nbsp;&nbsp;&nbsp;benefit-sharing from
								revenue distribution in extractive resource sectors&nbsp;&nbsp;&nbsp;(oil, gas and
								mining)</td>
						</tr>
						<tr>
							<td class="tg-kcps">9453</td>
							<td class="tg-kcps">Gender bias affects forests&nbsp;&nbsp;&nbsp;worldwide</td>
						</tr>
						<tr>
							<td class="tg-kcps">9305</td>
							<td class="tg-kcps">An integrative research&nbsp;&nbsp;&nbsp;framework for enabling
								transformative adaptation</td>
						</tr>
						<tr>
							<td class="tg-kcps">9511</td>
							<td class="tg-kcps">La restauración de bosques&nbsp;&nbsp;&nbsp;andinos tropicales</td>
						</tr>
						<tr>
							<td class="tg-kcps">5109</td>
							<td class="tg-kcps">Assessment of the&nbsp;&nbsp;&nbsp;effectiveness, efficiency and equity
								of benefit-sharing schemes under&nbsp;&nbsp;&nbsp;large-scale agriculture</td>
						</tr>
						<tr>
							<td class="tg-kcps">6515</td>
							<td class="tg-kcps">Adapting Free, Prior, and&nbsp;&nbsp;&nbsp;Informed Consent (FPIC) to
								Local Contexts in REDD+</td>
						</tr>
						<tr>
							<td class="tg-kcps">6288</td>
							<td class="tg-kcps">Does the gender composition of&nbsp;&nbsp;&nbsp;forest and fishery
								management groups affect resource governance and&nbsp;&nbsp;&nbsp;conservation outcomes
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">11210</td>
							<td class="tg-kcps">High selfing rate, limited&nbsp;&nbsp;&nbsp;pollen dispersal and
								inbreeding depression in the emblematic African rain&nbsp;&nbsp;&nbsp;forest tree
								Baillonella toxisperma – Management implications</td>
						</tr>
						<tr>
							<td class="tg-kcps">9388</td>
							<td class="tg-kcps">Éxito desde la base</td>
						</tr>
						<tr>
							<td class="tg-kcps">11209</td>
							<td class="tg-kcps">Do logging concessions&nbsp;&nbsp;&nbsp;decrease the availability to
								villagers of foods from timber trees? A&nbsp;&nbsp;&nbsp;quantitative analysis for Moabi
								(Baillonella toxisperma), Sapelli&nbsp;&nbsp;&nbsp;(Entandrophragma cylindricum) and
								Tali (Erythrophleum suaveolens) in Cameroon</td>
						</tr>
						<tr>
							<td class="tg-kcps">9398</td>
							<td class="tg-kcps">Kinh nghiệm quốc tế và các đề&nbsp;&nbsp;&nbsp;xuất sửa đổi khung pháp
								lý về định giá rừng tại Việt Nam</td>
						</tr>
						<tr>
							<td class="tg-kcps">10319</td>
							<td class="tg-kcps">Gender lessons for climate&nbsp;&nbsp;&nbsp;initiatives</td>
						</tr>
						<tr>
							<td class="tg-kcps">6025</td>
							<td class="tg-kcps">Building future scenarios</td>
						</tr>
						<tr>
							<td class="tg-kcps">9455</td>
							<td class="tg-kcps">Las plantaciones forestales en&nbsp;&nbsp;&nbsp;Perú</td>
						</tr>
						<tr>
							<td class="tg-kcps">6660</td>
							<td class="tg-kcps">Community harvesting of trees&nbsp;&nbsp;&nbsp;in Peru under payment for
								ecosystem service schemes</td>
						</tr>
						<tr>
							<td class="tg-kcps">9730</td>
							<td class="tg-kcps">La restauración ecológica en&nbsp;&nbsp;&nbsp;el marco de las
								compensaciones por pérdida de biodiversidad en Colombia</td>
						</tr>
						<tr>
							<td class="tg-kcps">9284</td>
							<td class="tg-kcps">Natural regeneration as a tool&nbsp;&nbsp;&nbsp;for large-scale forest
								restoration in the tropics</td>
						</tr>
						<tr>
							<td class="tg-kcps">6210</td>
							<td class="tg-kcps">Benefit Sharing Among Local&nbsp;&nbsp;&nbsp;Resource Users</td>
						</tr>
						<tr>
							<td class="tg-kcps">5066</td>
							<td class="tg-kcps">Approaches to benefit sharing</td>
						</tr>
						<tr>
							<td class="tg-kcps">6727</td>
							<td class="tg-kcps">Konflik perusahaan-masyarakat&nbsp;&nbsp;&nbsp;di sektor perkebunan
								industri Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">9387</td>
							<td class="tg-kcps">Analyzing multilevel&nbsp;&nbsp;&nbsp;governance in Vietnam</td>
						</tr>
						<tr>
							<td class="tg-kcps">6750</td>
							<td class="tg-kcps">Being equitable is not always&nbsp;&nbsp;&nbsp;fair</td>
						</tr>
						<tr>
							<td class="tg-kcps">9392</td>
							<td class="tg-kcps">Gender relevant considerations&nbsp;&nbsp;&nbsp;for developing REDD+
								indicators</td>
						</tr>
						<tr>
							<td class="tg-kcps">5615</td>
							<td class="tg-kcps">Implementing REDD+ (Reducing&nbsp;&nbsp;&nbsp;Emissions from
								Deforestation and Degradation)</td>
						</tr>
						<tr>
							<td class="tg-kcps">9267</td>
							<td class="tg-kcps">Emerging evidence on the&nbsp;&nbsp;&nbsp;effectiveness of tropical
								forest conservation</td>
						</tr>
						<tr>
							<td class="tg-kcps">6482</td>
							<td class="tg-kcps">Cotas de reserva ambiental no&nbsp;&nbsp;&nbsp;novo código florestal
								Brasileiro</td>
						</tr>
						<tr>
							<td class="tg-kcps">9369</td>
							<td class="tg-kcps">Beyond opportunity costs</td>
						</tr>
						<tr>
							<td class="tg-kcps">6661</td>
							<td class="tg-kcps">Aprovechamiento comunitario&nbsp;&nbsp;&nbsp;del bosque en Perú con un
								esquema de pagos por servicios ecosistémicos</td>
						</tr>
						<tr>
							<td class="tg-kcps">9410</td>
							<td class="tg-kcps">Estimating smallholder&nbsp;&nbsp;&nbsp;opportunity costs of REDD+</td>
						</tr>
						<tr>
							<td class="tg-kcps">5628</td>
							<td class="tg-kcps">Effectiveness and synergies of&nbsp;&nbsp;&nbsp;policy instruments for
								land use governance in tropical regions</td>
						</tr>
						<tr>
							<td class="tg-kcps">6414</td>
							<td class="tg-kcps">Naming and Shaming for&nbsp;&nbsp;&nbsp;Conservation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5610</td>
							<td class="tg-kcps">Forest law enforcement in the&nbsp;&nbsp;&nbsp;Brazilian Amazon</td>
						</tr>
						<tr>
							<td class="tg-kcps">5578</td>
							<td class="tg-kcps">Mud, muddle and models in the&nbsp;&nbsp;&nbsp;knowledge value-chain to
								action on tropical peatland conservation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5769</td>
							<td class="tg-kcps">Local preferences and&nbsp;&nbsp;&nbsp;strategies for effective,
								efficient, and equitable distribution of PES&nbsp;&nbsp;&nbsp;revenues in Vietnam</td>
						</tr>
						<tr>
							<td class="tg-kcps">6377</td>
							<td class="tg-kcps">Lessons from voluntary&nbsp;&nbsp;&nbsp;partnership agreements for REDD+
								benefit sharing</td>
						</tr>
						<tr>
							<td class="tg-kcps">5814</td>
							<td class="tg-kcps">Use of ecosystem services&nbsp;&nbsp;&nbsp;economic valuation for
								decision making</td>
						</tr>
						<tr>
							<td class="tg-kcps">11326</td>
							<td class="tg-kcps">Reducing emissions from land&nbsp;&nbsp;&nbsp;use in Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">5035</td>
							<td class="tg-kcps">Forests and climate change&nbsp;&nbsp;&nbsp;mitigation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5863</td>
							<td class="tg-kcps">La aplicación de salvaguardas&nbsp;&nbsp;&nbsp;en los sistemas
								nacionales de distribución de beneficios de REDD+</td>
						</tr>
						<tr>
							<td class="tg-kcps">5252</td>
							<td class="tg-kcps">The use of pigüe (Piptocoma&nbsp;&nbsp;&nbsp;discolor) by smallholders
								in Napo, Ecuador</td>
						</tr>
						<tr>
							<td class="tg-kcps">4982</td>
							<td class="tg-kcps">Social safeguards and&nbsp;&nbsp;&nbsp;co-benefits in REDD+</td>
						</tr>
						<tr>
							<td class="tg-kcps">5865</td>
							<td class="tg-kcps">Por qué la tenencia es clave&nbsp;&nbsp;&nbsp;para cumplir los objetivos
								climáticos y éticos de REDD+</td>
						</tr>
						<tr>
							<td class="tg-kcps">5009</td>
							<td class="tg-kcps">Superposición espacial en la&nbsp;&nbsp;&nbsp;zonificación de bosques en
								Madre de Dios</td>
						</tr>
						<tr>
							<td class="tg-kcps">5034</td>
							<td class="tg-kcps">Forests and climate change&nbsp;&nbsp;&nbsp;adaptation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5876</td>
							<td class="tg-kcps">The legitimacy of multilevel&nbsp;&nbsp;&nbsp;governance structures for
								benefit sharing</td>
						</tr>
						<tr>
							<td class="tg-kcps">5874</td>
							<td class="tg-kcps">Further guidance for REDD+&nbsp;&nbsp;&nbsp;safeguard information
								systems?</td>
						</tr>
						<tr>
							<td class="tg-kcps">5875</td>
							<td class="tg-kcps">Who holds power in land-use&nbsp;&nbsp;&nbsp;decisions?</td>
						</tr>
						<tr>
							<td class="tg-kcps">5037</td>
							<td class="tg-kcps">Forests, food and livelihoods</td>
						</tr>
						<tr>
							<td class="tg-kcps">5038</td>
							<td class="tg-kcps">Forests, fuel wood and&nbsp;&nbsp;&nbsp;charcoal</td>
						</tr>
						<tr>
							<td class="tg-kcps">5041</td>
							<td class="tg-kcps">SWAMP</td>
						</tr>
						<tr>
							<td class="tg-kcps">5077</td>
							<td class="tg-kcps">Conversion of intact peat&nbsp;&nbsp;&nbsp;swamp forest to oil palm
								plantation</td>
						</tr>
						<tr>
							<td class="tg-kcps">11220</td>
							<td class="tg-kcps">Pseudoreplication in Tropical&nbsp;&nbsp;&nbsp;Forests and the Resulting
								Effects on Biodiversity Conservation</td>
						</tr>
						<tr>
							<td class="tg-kcps">5136</td>
							<td class="tg-kcps">Taking migration seriously</td>
						</tr>
						<tr>
							<td class="tg-kcps">5132</td>
							<td class="tg-kcps">Hutan dan jender</td>
						</tr>
						<tr>
							<td class="tg-kcps">5197</td>
							<td class="tg-kcps">Consistent response of&nbsp;&nbsp;&nbsp;vegetation dynamics to recent
								climate change in tropical mountain regions</td>
						</tr>
						<tr>
							<td class="tg-kcps">5202</td>
							<td class="tg-kcps">Wild foods from farm and&nbsp;&nbsp;&nbsp;forest in the east Usambara
								mountains, Tanzania</td>
						</tr>
						<tr>
							<td class="tg-kcps">5228</td>
							<td class="tg-kcps">Qualitative Comparative&nbsp;&nbsp;&nbsp;Analysis (QCA)</td>
						</tr>
						<tr>
							<td class="tg-kcps">5244</td>
							<td class="tg-kcps">Synergies and trade-offs&nbsp;&nbsp;&nbsp;between ecosystem services in
								Costa Rica</td>
						</tr>
						<tr>
							<td class="tg-kcps">6250</td>
							<td class="tg-kcps">Environmental reserve quotas&nbsp;&nbsp;&nbsp;in Brazil's new forest
								legislation</td>
						</tr>
						<tr>
							<td class="tg-kcps">6226</td>
							<td class="tg-kcps">Benefit sharing in context</td>
						</tr>
						<tr>
							<td class="tg-kcps">6378</td>
							<td class="tg-kcps">Comparative assessment of&nbsp;&nbsp;&nbsp;forest revenue redistribution
								mechanisms in Cameroon</td>
						</tr>
						<tr>
							<td class="tg-kcps">6228</td>
							<td class="tg-kcps">Lessons from environmental and&nbsp;&nbsp;&nbsp;social sustainability
								certification standards for equitable REDD+&nbsp;&nbsp;&nbsp;benefit-sharing mechanisms
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">6154</td>
							<td class="tg-kcps">La legitimidad de las&nbsp;&nbsp;&nbsp;estructuras de gobernanza
								multinivel para la distribución de beneficios</td>
						</tr>
						<tr>
							<td class="tg-kcps">6227</td>
							<td class="tg-kcps">Lessons for REDD+&nbsp;&nbsp;&nbsp;benefit-sharing mechanisms from
								anti-corruption measures in Indonesia</td>
						</tr>
						<tr>
							<td class="tg-kcps">6316</td>
							<td class="tg-kcps">Lessons from the perceptions&nbsp;&nbsp;&nbsp;of equity and risks in
								payments for forest environmental services (PFES) fund&nbsp;&nbsp;&nbsp;distribution
							</td>
						</tr>
						<tr>
							<td class="tg-kcps">5881</td>
							<td class="tg-kcps">Ley 30230</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endblock content-1 %}

	{% block content-2 %}
	<div class="row bg-white" style="height:400px">
		<div id="wrapper">


			<!-- End of Topbar -->

			<!-- Begin Page Content -->
			<div class="container-fluid">

				<!-- Page Heading -->



				<!-- DataTales Example -->


			</div>


		</div>
	</div>

	{% endblock content-2 %}