{% extends "base.html" %}
{% load static %}

{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "blog/css/styles.css" %}">
{% endblock app_css %}

{% block header %}

<h1 class="text-left" style="margin-top:100px">{{heading}}</h1>


{% endblock header %}

{% block content-1 %}
	<div class="row bg-white" style="height:1200px">
		
		<div class="table-responsive">
			<table class="table-responsive">
				
				<thead>
				  <tr>
					<th scope="col">id</th>
					<th scope="col">dc.title</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<th> <a scope="row" href="/about">5795</a> </th>
					<td>Fuelwood savings and carbon emission reductions by the use of improved cooking stoves in an Afromontane Forest, Ethiopia
					</td>
				  </tr>
				  <tr>
					<th scope="row">4905</th>
					<td>An assessment of deforestation and forest degradation drivers in developing countries
					</td>
				  </tr>
				  <tr>
					<th scope="row">4938</th>
					<td>A review of social sustainability considerations among EU-approved voluntary schemes for biofuels, with implications for rural livelihoods
					</td>
				  </tr>
				  <tr>
					<th scope="row">5823</th>
					<td>Classifying market-based instruments for ecosystem services
					</td>
				  </tr>
				  <tr>
					<th scope="row">4937</th>
					<td>Diversity of locally useful tropical forest wild-plants as a function of species richness and informant culture
					</td>
				  </tr>
				  <tr>
					<th scope="row">4933</th>
					<td>Understanding the impacts of land-use policies on a threatened species
					</td>
				  </tr>

				  <tr>
					<th scope="row">9240</th>
					<td>Análisis de la gobernanza multinivel en Perú
					</td>
				  </tr>
				  <tr>
					<th scope="row">5780</th>
					<td>Bushmeat harvest in tropical forests
					</td>
				  </tr>
				  <tr>
					<th scope="row">4926</th>
					<td>The political context of REDD+ in Indonesia
					</td>
				  </tr>
				  <tr>
					<th scope="row">5805</th>
					<td>Actor-specific contributions to the deforestation slowdown in the Brazilian Amazon
					</td>
				  </tr>
				  <tr>
					<th scope="row">5809</th>
					<td>REDD+ policy networks in Brazil
					</td>
				  </tr>
				  <tr>
					<th scope="row">4953</th>
					<td>Of PES and other animals
					</td>
				  </tr>
				  
				  <tr>
					<th scope="row">5794</th>
					<td>European Union Timber Regulation
					</td>
				  </tr>
				  <tr>
					<th scope="row">5783</th>
					<td>Preparing the ground for better landscape governance
					</td>
				  </tr>
				  <tr>
					<th scope="row">5818</th>
					<td>Regional nitrogen budget of the Lake Victoria Basin, East Africa
					</td>
				  </tr>
				  <tr>
					<th scope="row">4932</th>
					<td>Estimates of soil carbon concentration in tropical and temperate forest and woodland from available GIS data on three continents
					</td>
				  </tr>
				  <tr>
					<th scope="row">4978</th>
					<td>Analyse phytogéographique des forêts d'Afrique Centrale
					</td>
				  </tr>
				  <tr>
					<th scope="row">5810</th>
					<td>Crop residue disappearance and macrofauna activity in sub-humid western Kenya
					</td>
				  </tr>
				  <tr>
					<th scope="row">4936</th>
					<td>Logging scars in Ghanaian high forest
					</td>
				  </tr>
				  <tr>
					<th scope="row">4960</th>
					<td>The scope for reducing emissions from forestry and agriculture in the Brazilian Amazon
					</td>
				  </tr>
				  <tr>
					<th scope="row">4927</th>
					<td>A review of two payment schemes for watershed services from China and Vietnam
					</td>
				  </tr>
				  <tr>
					<th scope="row">4935</th>
					<td>The dilemma of green business in tropical forests
					</td>
				  </tr>
				  <tr>
					<th scope="row">4934</th>
					<td>Bamboo for people, Mountain gorillas, and golden monkeys
					</td>
				  </tr>
				</tbody>
			  </table>
		  </div>
	</div>
{% endblock content-1 %}

{% block content-2 %}
	<div class="row bg-white" style="height:400px">
		
	</div>
{% endblock content-2 %}














