{% extends "base.html" %}
{% load static %}

{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "blog/css/styles.css" %}">
{% endblock app_css %}

{% block header %}

<h1 class="text-left" style="margin-top:100px">{{heading}}</h1>


{% endblock header %}

{% block content-1 %}
	<div class="row bg-white" style="height:1000px">
		
		<div class="table-responsive">
			<table class="table-responsive">
				
				<thead>
				  <tr>
					<th scope="col">id</th>
					<th scope="col">dc.title</th>
					<th scope="col">dc.type</th>
					<th scope="col">dc.subject</th>
					<th scope="col">dc.identifier.citation</th>
					<th scope="col">language</th>
					</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<th scope="row">5795</th>
					<td><a href="/about">Fuelwood savings and ...</a></td>
					<td>Journal Article||ISI||Refereed
					</td>
					<td>fuelwood||carbon||emission||reduction
					</td>
					<td>Dresen, E., DeVries, B., Herold, M., Verchot, L.V., Müller, R. 2014. Fuelwood savings and carbon emission reductions by the use of improved cooking stoves in an Afromontane Forest, Ethiopia. Land, 3 (3): 1137-1157. http://dx.doi.org/10.3390/land3031137
					</td>
					<td>english
					</td>
				  </tr>
				  <tr>
					<th scope="row">4905</th>
					<td>An assessment of ...</td>
					<td>Journal Article||ISI||Refereed
					</td>
					<td>deforestation||degraded forests||tropical forests||developing countries
					</td>
					<td>Hosonuma, N., Herold, M., de Sy, V., de Fries, R.S., Brockhaus, M., Verchot, L., Angelsen, A., Romijn, E. 2012. An assessment of deforestation and forest degradation drivers in developing countries. Environmental Research Letters, 7 (4): 4009. http://dx.doi.org/10.1088/1748-9326/7/4/044009
					</td>
					<td>english
					</td>
				  </tr>
				  <tr>
					<th scope="row">4938</th>
					<td>Classifying market-based ...</td>
					<td>Journal Article||ISI||Refereed
					</td>
					<td>biofuels||renewable energy||sustainability||certification
					</td>
					<td>German, L., Schoneveld, G. 2012. A review of social sustainability considerations among EU-approved voluntary schemes for biofuels, with implications for rural livelihoods. Energy Policy, 51: 765–778. http://dx.doi.org/10.1016/j.enpol.2012.09.022
					</td>
					<td>english</td>
				  </tr>
				  <tr>
					<th scope="row">5823</th>
					<td>Fuelwood savings and ...</td>
					<td>Journal Article||ISI||Refereed
					</td>
					<td>ecosystem services||markets||biodiversity||incentives
					</td>
					<td>Pirard, R., Lapeyre, R. 2014. Classifying market-based instruments for ecosystem services: A guide to the literature jungle. Ecosystem Services, 9: 106–114. http://dx.doi.org/10.1016/j.ecoser.2014.06.005
					</td>
					<td>english
					</td>
				  </tr>
				  <tr>
					<th scope="row">4937</th>
					<td>Diversity of locally useful ...</td>
					<td>Journal Article||ISI||Refereed
					</td>
					<td>ethnobotany||value systems||indigenous knowledge||conservation
					</td>
					<td>Sheil, D., Salim, A. 2012. Diversity of locally useful tropical forest wild-plants as a function of species richness and informant culture. Biodiversity and Conservation, 21 (3): 687-699. Springer. http://dx.doi.org/10.1007/s10531-011-0208-8
					</td>
					<td>english
					</td>
				  </tr>
				  <tr>
					<th scope="row">4939</th>
					<td>Understanding the impacts of ...</td>
					<td>Journal Article||ISI||Refereed
					</td>
					<td>land use||policy||threatened species||impact
					</td>
					<td>Wich, S., Gaveau, D.L.A., Abram, N., Ancrenaz, M., Baccini, A., Brend, S., Curran, L., Delgado, R.A., Erman, A., Fredriksson, G.M., Goossens, B., Husson, S.J., Lackman, I., Marshall, A.J., Naomi, A., Molidena, E., Nardiyono, Nurcahyo, A., Odom, K., Panda, A., Purnomo, Rafiastanto, A., Ratnasari, D., Santana, A.H., Sapari, I., van Schaik, C.P., Sihite, J., Spehar, S., Santoso, E., Suyoko, A., Tiju, A., Usher, G., Atmoko, S.S.U., Willems, E.P., Meijaard, E. 2012. Understanding the impacts of land-use policies on a threatened species: is there a future for the Bornean orang-utan?. PLoS ONE, 7 (11): e49142. http://dx.doi.org/10.1371/journal.pone.0049142
					</td>
					<td>english</td>
				  </tr>
				</tbody>
			  </table>
		  </div>
	</div>
{% endblock content-1 %}

{% block content-2 %}
	<div class="row bg-white" style="height:400px">
		
	</div>
{% endblock content-2 %}














