{% extends "base.html" %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "about/css/styles.css" %}">
{% endblock app_css %}

{% block header %}
<h1 class="text-left" style="margin-top:180px">
	{{heading}}</h1>
<p class="lead text-left">{{subheading}}</p>
{% endblock header %}

{% block content-1 %}
<div class="row bg-white">

	<div class="card shadow mb-4 ">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold ">Fuelwood savings and carbon emission reductions by the use of improved
				cooking stovesin an Afromontane Forest, Ethiopia</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th class="tg-ts3f"><span>doi</span>
							</th>
							<th class="tg-ts3f"><span>times_cited</span>
							</th>
							<th class="tg-ts3f"><span>recent_citations</span>
							</th>
							<th class="tg-ts3f"><span>field_citation_ratio</span>
							</th>


							<th class="tg-ts3f"><span>issns</span>
							</th>
							<th class="tg-ts3f"><span>journal</span>
							</th>
							<th class="tg-ts3f"><span>type</span>
							</th>
							<th class="tg-ts3f"><span>score</span>
							</th>

							<th class="tg-ts3f"><span>added_on</span>
							</th>
							<th class="tg-ts3f"><span>published
									on</span></th>
							<th class="tg-ts3f"><span>readers</span>
							</th>
							<th class="tg-ts3f"><span>readers_count</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tg-6cme"><span>10.3390/land3031137</span>
							</td>
							<td class="tg-6cme"><span>25</span>
							</td>
							<td class="tg-6cme"><span>14</span>
							</td>
							<td class="tg-6cme"><span>4.52</span>
							</td>


							<td class="tg-6cme"><span>['2073-445X']</span>
							</td>
							<td class="tg-6cme"><span>Land</span>
							</td>
							<td class="tg-6cme"><span>article</span>
							</td>
							<td class="tg-6cme"><span>0.25</span>
							</td>

							</td>
							<td class="tg-6cme"><span>1455460342</span>
							</td>
							<td class="tg-6cme"><span>1410825600</span>
							</td>
							<td class="tg-6cme"><span>{'citeulike':'0',
									'mendeley': '76', 'connotea': '0'}</span></td>
							<td class="tg-6cme"><span>76</span>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endblock content-1 %}

	{% block content-2 %}
	<div class="row bg-white" style="height:400px;">
		<h1></h1>
	</div>
	{% endblock content-2 %}